<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="comment.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="commentpage">
  
            <input  class="manage" id="name" type="text" placeholder="Your Name">
            <input  class="manage" type="email" id="mail" placeholder="Email">
            <input type="text" class="manage" placeholder="Type your favourite show">
            <textarea class="manage" id="typemad"  name="comment" placeholder="Type your view"></textarea>
            <button class="manage"   id="button"type="submit">Sumbit</button>
        
    </div>
    <footer>
        <div class="footer-content">
            <h3 class="wrong">Netflix'n'Chill</h3>
            
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 TEAM---Web Hackers. designed by <span>Nishant Sharma</span></p>
        </div>
    </footer>

</body>
</html>